alacritty
Atom
audacity
autostart
Bitwarden
Cemu
Code
darktable
dconf
discord
dolphin-emu
enchant
evolution
GitHub\ Desktop
glib-2.0
gnome-control-center
gnome-session
goa-1.0
google-chrome
gsconnect
gtk*
ibus
JetBrains
Joplin
joplin-desktop
kdeconnect
kingsoft
Kingsoft
libfm
light
Microsoft*
mpv nautilus
nextcloud
Nextcloud
onedrive*
pcmanfm
pnmixer
pulse
ranger
Slack
spotify
systemd
teams
Thunar
Unknown\ Organization
variety
volumeicon
/home/line6/NixOS-Config/.config/.gsd-keyboard.settings-ported
gnome-initial-setup-done
kritadisplayrc
kritarc
mimeapps.list
QtProject.conf
showfotorc
user-dirs.*
zoomus.conf
libinput-gestures.conf
cef_user_data
.config/QtProject.conf
.bash_history
